fuzzywuzzy==0.18.0
Flask==3.1.0
Flask-Cors==5.0.0
flask_caching==2.3.0
g4f==0.3.3.2
langchain-groq==0.2.2
langchain-chroma==0.1.4
langchain-community==0.3.14
langchain-text-splitters==0.3.4
nest-asyncio==1.6.0
nltk==3.9.1
ollama==0.4.5
psycopg2-binary==2.9.10
python-Levenshtein==0.26.1
python-dotenv==1.0.1
sqlalchemy==2.0.37
scikit-learn==1.6.0
sentence-transformers==3.3.1
spacy==3.8.3
