.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rotate-icon {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
